.header {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
 

  .subMonth,
  .subYear,
  .addMonth,
  .addYear {
    padding-top: 5px;
    text-align: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: rgba(162, 162, 162, 0.553);
      cursor: pointer;
    }
  }

  .monthAndYear {
    text-align: center;
    margin: 5px;
  }
}
